{% extends 'base/base.html' %}

{% block content %}
<div class="well well-xl">
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Tratam_id</td>
			<td>Descripcion</td>
			<td>Precio</td>
			<td>Duracion</td>
			<td>Por</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for tratamiento in object_list %}
		<tr>
			<td>{{ tratamiento.tratam_id}}</td>
			<td>{{ tratamiento.descripcion }}</td>
			<td>{{ tratamiento.precio }}</td>
			<td>{{ tratamiento.duracion }}</td>
			<td>{{ tratamiento.persona.nombre }} {{ tratamiento.persona.apellido }}</td>
			<td>
				<a class="btn btn-primary" href="/tratamiento/editar/{{tratamiento.tratam_id}}">Editar</a>
				<a class="btn btn-danger" href="/tratamiento/eliminar/{{tratamiento.tratam_id}}">Eliminar</a>
			</td>			
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de tratamientos</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
</div>
{% endblock%}